<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> {{selectedItem.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="map" class="map"></div>
  <div>
    <div class="info">
      <ion-icon name="pin"></ion-icon>
      <span>京津高速{{currentPosition}}</span>
    </div>
    <ion-list style="margin: 0px 10px 10px 0px;">


      <ion-item>
        <ion-label>车主姓名:</ion-label>
        <ion-input type="text" [(ngModel)]="uName">{{uName}}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label>车牌号:</ion-label>
        <ion-input type="text" [(ngModel)]="uNum">{{uNum}}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label>联系电话:</ion-label>
        <ion-input type="text" [(ngModel)]="uPhone">{{uPhone}}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label>车辆高程:</ion-label>
        <ion-input type="text" [(ngModel)]="uAltitude">{{uAltitude}}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label>是否受损</ion-label>
        <ion-toggle [(ngModel)]="isBroken" (ngModelChange)="!isBroken"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>车辆朝向</ion-label>
        <ion-select interface="popover" [ngModel]="uHead" (ngModelChange)="uHead=$event">
          <ion-option [value]="1">进京方向</ion-option>
          <ion-option [value]="2">出京方向</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>救援类型</ion-label>
        <ion-select interface="popover" [ngModel]="type" (ngModelChange)="type=$event">
          <ion-option *ngFor="let item of students" [value]='item.type'>{{item.title}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>情况描述:</ion-label>
        <ion-textarea rows="3" cols="20" placeholder="请输入情况简要信息" [(ngModel)]="uDesc">{{uDesc}}</ion-textarea>
      </ion-item>

    </ion-list>
    <div>
      <upload [imgUrls]="imgUrls"></upload>
      <!--<button class="uploadP" (click)="uploadPicture()">上传图片</button>-->
      <!--<button class="uploadV" (click)="uploadVideo()">上传视频</button>-->
    </div>

    <button ion-button (click)="presentLoading()" style="width: 100%;padding: 0px 5px">确认上报</button>
  </div>
</ion-content>

